/*common start */
body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
   background-color: #dfe9c1;
}
/*common end */
/*header start */

header{
background-color:#6688b0;
}
.logo{
    width: 118px;
   
}

.c_nav{
    padding: 0px;
    height: 100px;

}
.menu{
 
}
.menu ul li a{  
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    line-height: 8px;
    color:#ffffff !important;
   text-transform: uppercase;
    padding: 0 24px !important;
    
}
.menu ul li a:hover{
    color: #dfe9c1 !important;

    
}

/*header end */
/* banner start */
.bannner{
  
   
}

.banner-menu-bg{
    position:relative;
    background-image: url('../image/b2.png');
    height: auto;
    background-repeat: no-repeat;
    
}

.b-single-bg{
    background-color:white;
}
.banner-text{

}
.banner-text h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    color: #ffffff;
    text-align: center;
    margin-top: 80px;
    
}
.banner-text p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

/* banner end */
/*menu start*/
.menus {
    margin-top: 200px;
}

.menu-text h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #7287ae;
    text-transform: uppercase;
    margin-bottom: 60px;
    
}

.single-item-ab{
    background-color: white;
    cursor: pointer;
    transition: .33s;
}
.single-item-ab:hover{
    box-shadow: 4px 6px 10px 0 #504f4f, 0 6px 20px 0 #918e8e;
}
.single-item-ab img{
    width: 100%;
}
.price-menu h5{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #504f4f;
    margin-top: 15px;
    margin-left: 15px;
}
.price-menu p{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #504f4f;
    margin-left: 15px;
}
.price-menu h3{
    color: #565656;
    margin-left: 15px;
}
.price-menu{
    height: 180px;
    background-color: white;
    
}
.menueebutton{
    font-family: Ubuntu, sans-serif;
    width: 210px;
    height: 60px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 20%;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: rgb(75, 94, 129);
    margin-top: 40px;
    margin-bottom: 90px;
    transform: scale(.5s);
}
.menueebutton:hover{
    background-color:  #504f4f;
}
/* menu end */
/*menu-2*/
.menu-2 {
    overflow: hidden;
}
.menue-bg{
    padding: 0px;
}
.menu-img{}
.menu-img img{
    width: 100%;
}
.menu-title{
    text-align: start;
}
.menu-h2{
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: rgb(114, 135, 174);
    text-transform: uppercase;
    padding: 0px 60px;
    margin-top: 187px;
}
.menu-p{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #333333;
    padding: 0px 60px;
    margin-top: 30px;
    margin-bottom: 30px;;
}
.menu-title2{
    text-align: start;
}
.menu-two {
    font-family: Ubuntu, sans-serif;
    font-size: 44px;
    font-weight: 700;
    color: rgb(114, 135, 174);
    text-transform: uppercase;
    padding: 0px 60px;
    margin-top: 187px;
}
.menu-ptwo{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #333333;
    padding: 0px 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu-img2 {
    margin-top: 95px;
}
.menu-img2 img{
    width: 100%;
}
.menu_button{
    font-family: Ubuntu, sans-serif;
    width: 210px;
    height: 60px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 20%;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: rgb(75, 94, 129);
    margin-left: 60px;
    margin-top: 18px;
    margin-bottom: 92px;
    transform: scale(.5s);
    
}
.menu_button:hover{
    background-color:  #dfe9c1;
}
.menue-bg{
    background-color: white;
}
/*menu-2*/
.order{
    background-color:#6688b0;
   
}
.order-white{
    color: #ffffff !important;
    margin-top: 70px;
}
.order-m-bottom{
    margin-bottom: 80px;
}
.countercircle{
    width: 70px;
    height: 70px;
    border-radius: 81px;
    background-color: white;
    transition: .5s;
}
.countercircle:hover{
    background-color:#dfe9c1 ;
   
}
.countercircle h2{
    text-align: center;
    margin-top: 28px;
    color: #7287ae;
    padding: 20px;
  }
  .o-b-3{
    background-color: #ffffff;
  }
  .o-b-2{
    background-color: #ffffff;
  }
  .o-b-1{
    background-color:#ffffff;
  }
.order-p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}
.order-p6{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
.counter-left{
    text-align: -webkit-center;
}
.sigle-slider{
    position: relative;
}
.slider-text{
    position: absolute;
    top: 22%;
    left: 34%;
    right: 30%;
    bottom: 55%;
}
.slider-img img{
    height:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #7287ae;

}


.slider-p{
    margin: 0px;
    font-size: 20px;
    text-align: center;
    color: #7287ae;
}
.sliderbutton{
    font-family: Ubuntu, sans-serif;
    width: 210px;
    height: 60px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 20%;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: rgb(75, 94, 129);
    margin-top: 70px;
    margin-bottom: 90px;
    transition: .3s;
}
.sliderbutton:hover{
    background-color:  #dfe9c1;
    transform: scale(.33s);
   
    
}
/*socail*/
.social{
    position: absolute;
    top: -13%;
    right: 0px;
    left: 0px;
    
}
.social-text{}
.s-h2{
    font-size: 80px;
    color: #7287ae;
    margin: 0px;
}
.s-p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #7287ae;
}
.s-h3{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #7287ae;
}
.social-icon{
   
}
.social-icon a{
    font-family: 'Lato', sans-serif;
    font-size: 84px;
    margin: 0px 6px;
    transform: scale(.33s);
}
.social-icon img:hover{
  background-color: #ffffff;
  border-radius: 100%;
}
/* footer*/
footer{
    position: absolute;
    top: 56%;
    right: 0px;
    left: 0px;
}
.footer-top {
    position: relative;
    background-image: url('../image/footerbg.png');
    height: 100vh;
    background-repeat: no-repeat;
    margin-top: 160px;
}

.footer-logo{
    margin-bottom: 10px;
    color: #ffffff;
}
.service-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
    list-style: none;
}

.services {
    text-align: end !important;
}
.service-contr{}
.services ul {
    list-style: none;
    padding: 0px;
}
.services ul li a {
 font-family: 'Lato', sans-serif;
 color: #ffffff;
 font-size: 17px;
 text-decoration: none;
 list-style: none;
}
.services ul li a:hover{
   color: #eef9cc;
}
.service-feed{}

.footerlast{
    text-align: center;
    position: absolute;
    top: 87%;
    left: 0px;
    right: 0px;

}
.footerlast p{
    text-align: center;
    margin-top: 40px;
    color: white;
    
}
.footerlast a {
    list-style: none;
    text-decoration: none;
    color: #504f4f;
    transform: scale(.33s);
}
.footerlast span {
    color: #504f4f;
}
.footerlast a:hover{
   color: #eef9cc;
    
}
.service-but{
    
}
.slider-buttton{
    font-family: Ubuntu, sans-serif;
    width: 210px;
    height: 60px;
    border: none;
    margin-top: 14px;
    transform: scale(.33s);
   
}
.slider-buttton:hover{
   background-color: #ffffff;
   
}
.p-p{
    color: white; 
}
.social-icon a{
    list-style: none;
    text-decoration: none;
}
.social-icon {
   margin-top: 25px;
}
.m-bg{
 background-color: #ffffff;
}
